version: 0.1.0.{build}
platform: Any CPU
configuration: Release

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
pull_requests:
  do_not_increment_build_number: true
nuget:
  disable_publish_on_pr: true
build_script:
- ps: .\Build.ps1
test: off
artifacts:
- path: .\artifacts\**\*.nupkg
  name: NuGet
deploy:
- provider: NuGet
  server: https://www.myget.org/F/notdeadyet/api/v2/package
  api_key:
    secure: /3MweOETF56L7FNkHR5EH1xK4lQMjxAtbyZpEX1snj3XlK3+iKZbfZ7hhRwSE/JX
  skip_symbols: true