version: 0.1.0.{build}
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
before_build:
  nuget restore src/NotDeadYet.sln
build:
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: minimal
  project: src/NotDeadYet.sln
